<%- include('partials/header', { title: "Book Details" }); -%>

<main>

    <% if (message.length > 0) { %>
        <div class="alert alert-primary" role="alert">
            <p>
                <%= message %>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if (errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% if (Array.isArray(errors)) { %>
                <% errors.forEach((error) => { %>
                    <p> <%= error.msg %> </p>
                <% }); %>
            <% } else { %>
                <p> <%= errors %> </p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <a class="link-dark btn" title="Back to list" href="/books">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z"/>
      </svg>
    </a>
    <br />

    <% if (typeof book !== "undefined") { %>
        <% if (typeof user !== "undefined" && user.type === "admin") { %>

                <div class="container book-form">

                    <form id="edit-book-form" data-id="<%= book.id %>" action="/book-details/<%= book.id %>" method="POST" enctype="multipart/form-data">
    
                        <div class="form-row square">
                            <img src="data:image/jpeg;base64,<%= book.imgUrl.toString('base64')%>" id="book-image" class="square img-rounded shadow-lg" alt="<%= book.title %>">

                        <button class="btn btn-secondary edit-img-btn" type="button" id="upload-new-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </button>

                        <input type="file" id="new-img-input" name="new-img" value="<%= book.imgUrl %>" />
                        </div>

                        <br />

                        <% if (book.type === "Paper") { %>
                            <%# is reserved (only for paper books)%>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id ="is-reserved" name="reserved" <%= book.isReserved ? 'checked' : '' %>>
                                <label class="form-check-label" for="is-reserved">Reserved</label>
                            </div>
        
                            <br/>
                        <% } %>

                        <%# Title %>
                        <div class="form-group">
                            <div class="form-floating col-6 shadow">
                                <input type="text" class="form-control" id="title"
                                       name="title" value="<%= book.title %>" placeholder="Book Title" required>
                                <label for="title">Title</label>
                            </div>
                            <span class="text-danger" id="title-validation"></span>
                        </div>
    
                        <br/>
    
                        <%# Author %>
                        <div class="form-group">
                            <div class="form-floating col-6 shadow">
                                <input type="text" class="form-control" id="author"
                                       name="author" value="<%= book.author %>" placeholder="Book Author" required>
                                <label for="author">Author</label>
                            </div>
                            <span class="text-danger" id="author-validation"></span>
                        </div>
    
                        <br/>
    
                        <%# ISBN %>
                        <div class="form-group">
                            <div class="form-floating col-6 shadow">
                                <input type="text" class="form-control" id="isbn"
                                       name="isbn" value="<%= book.isbn %>" placeholder="Book ISBN" required>
                                <label for="isbn">ISBN</label>
                            </div>
                            <span class="text-danger" id="isbn-validation"></span>
                        </div>

                        <br/>
    
                        <%# Radio btn paper %>
                        <div class="form-check">
                            <input class="form-check-input shadow" type="radio" value="Paper" name="type"
                                   id="paper" <%= (book.type === "Paper") ? 'checked' : '' %>>
                            <label class="form-check-label" for="paper">
                                Paper
                            </label>
                        </div>
    
                        <%# Radio btn ebook %>
                        <div class="form-check">
                            <input class="form-check-input shadow" type="radio" value="EBook" name="type"
                                   id="ebook" <%= (book.type === "Ebook") ? 'checked' : '' %>>
                            <label class="form-check-label" for="ebook">
                                EBook
                            </label>
                        </div>
    
                        <br/>
    
                        <%# Range in stock (paper books) %>
                        <div class="form-group col-6">
                            <label for="stock-range" class="form-label" id="stock-range-label">In stock: <%= book.stock %></label>
                            <input type="range" name="stock" class="form-range" min="1" max="300" step="1"
                                   value="<%= book.stock %>" id="stock-range" required>
                        </div>
    
                        <br/>
    
                        <%# language %>
                        <div class="col-6">
                            <small class="small" id="language-info" data-language="<%= book.language %>"><%= book.language %></small>
                            <%# Select language %>
                            <%- include('partials/languages'); -%>
                            
                        </div>
                        
                        <br/>
    
                        <%# Publisher %>
                        <div class="form-group">
                            <div class="form-floating col-6 shadow">
                                <input type="text" class="form-control" id="publisher"
                                       name="publisher" value="<%= book.publisher %>" placeholder="Book Publisher" required>
                                <label for="publisher">Publisher</label>
                            </div>
                            <span class="text-danger" id="publisher-validation"></span>
                        </div>
    
                        <br/>
    
                        <%# Range pages %>
                        <div class="form-group col-6">
                            <label for="pages-range" class="form-label" id="pages-range-label">Pages: <%= book.pages %></label>
                            <input type="range" name="pages" class="form-range" min="1" max="10000" step="1"
                                   value="<%= book.pages %>" id="pages-range" required>
                        </div>
    
                        <br/>
    
                        <%# Date published %>
                        <div class="form-group">
                            <div class="form-floating col-6 shadow">
                                <input type="date" class="form-control" id="date-published" data-date="<%= new Date(book.datePub).toISOString().split('T')[0]; %>"
                                       name="date-published" value="<%= new Date(book.datePub).toISOString().split('T')[0]; %>" placeholder="Date Published" required>
                                <label for="date-published">Date Published</label>
                            </div>
                            <span class="text-danger" id="date-published-validation"></span>
                        </div>
    
                        <br/>
    
                        <%# Text area description %>
                        <div class="form-group col-6">
                            <label for="description" class="form-label" id="description-label">Book
                                Description</label>
                            <textarea class="form-control shadow" name="description" id="description" rows="5"
                                      maxlength="250" required><%= book.description %></textarea>
                            <small class="small text-muted" id="description-info">Remaining: 250</small>
                            <span class="text-danger" id="description-validation"></span>
                        </div>

                        <br/>

                        <div class="form-group">
                            <div class="form-floating col-6 shadow">
                                <input type="text" class="form-control" id="price"
                                       name="price" value="<%= book.price %>" placeholder="Book Price" required>
                                <label for="price">Price €</label>
                            </div>
                            <span class="text-danger" id="price-validation"></span>
                        </div>

                        <br />

                        <button class="btn btn-primary shadow" id="save-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                            </svg>
                            Save
                        </button>
    
                    </form>

                    <hr class="col-6" />

                    <button id="add-to-cart-btn" class="btn btn-outline-dark shadow-lg rounded" data-bs-toggle="modal" data-bs-target="#cart-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg>
                        Add to cart
                    </button>

                    <%# Add to cart modal #%>
<<<<<<< HEAD

                    <div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="cart-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cart-modal-label">
                                        Add <strong><%= book.title %></strong> to cart
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <% if(book.stock > 0) { %>
                                        <select id="book-quantity" class="form-select shadow" aria-label="Select quantity" title="Select quantity">
                                            <% for (let i = 1; i <= book.stock; i++) { %>
                                                <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                        </select>
                                        <% } else { %>
                                            <p>Book is not available</p>
                                        <% } %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" id="add-to-cart-confirm" class="btn btn-primary shadow" data-id="<%= book.id %>" data-user="<%= user.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if (book.type === "Paper") {  %>

                        <button id="reserve-book-btn" class="btn btn-outline-dark shadow-lg rounded" data-bs-toggle="modal" data-bs-target="#reserve-book-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            Reserve book
                        </button>

=======

                    <div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="cart-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cart-modal-label">
                                        Add <strong><%= book.title %></strong> to cart
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <% if(book.stock > 0) { %>
                                            <% if (book.type === "Paper") { %>
                                                <select id="book-quantity" class="form-select shadow" aria-label="Select quantity" title="Select quantity">
                                                    <% for (let i = 1; i <= book.stock; i++) { %>
                                                        <option value="<%= i %>"><%= i %></option>
                                                    <% } %>
                                                </select>
                                            <% } else { %>
                                                <p>Are you sure you want to add the book to cart?</p>
                                            <% } %>
                                        <% } else { %>
                                            <p>Book is not available</p>
                                        <% } %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" id="add-to-cart-confirm" class="btn btn-primary shadow" data-id="<%= book.id %>" data-user="<%= user.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if (book.type === "Paper") { %>
                        <button id="reserve-book-btn" class="btn btn-outline-dark shadow-lg rounded" data-bs-toggle="modal" data-bs-target="#reserve-modal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            Reserve book
                        </button>

>>>>>>> dev
                        <%# Reserve book modal #%>

                        <div class="modal fade" id="reserve-modal" tabindex="-1" aria-labelledby="reserve-modal-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reserve-modal-label">
                                            Reserve <strong><%= book.title %></strong>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <% if (book.stock > 0)  { %>
                                            <% if (book.isReserved) { %>
                                                <p class="text-danger">Book is reserved</p>
                                            <% } else { %>
                                                <p>Are you sure you want to reserve this book?</p>
                                            <% } %>
    
                                        <% } else { %>
                                            <p>Sorry, <strong><%= book.title%></strong> is not available for reservation</p>
                                        <% } %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= book.isReserved ? 'Ok' : 'Cancel' %></button>
                                        <% if (!book.isReserved) { %>
                                            <button id="reserve-book-confirm" type="button" class="btn btn-primary" data-id="<%= book.id %>" data-user="<%= user.id%>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                Reserve
                                            </button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <% } %>

                    <button class="btn btn-outline-danger delete-button shadow-lg rounded" type="button" title="Delete book" data-bs-toggle="modal" data-bs-target="#delete-book-confirm-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                        Delete Book
                    </button>

                    <%# Delete book modal #%>

                    <div class="modal fade" id="delete-book-confirm-modal" tabindex="-1" aria-labelledby="delete-book-confirm-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-book-confirm-modal-label">
                                        Delete <strong><%= book.title %></strong>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete <strong><%= book.title %></strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <button id="delete-book" type="button" class="btn btn-danger" data-id="<%= book.id %>">
                                        Delete
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    

        <% } else { %>

            <div class="container">
            
                <img src="data:image/bmp;base64,<%= book.imgUrl.toString('base64')%>" class="square img-rounded shadow" alt="<%= book.title %>">
    
                <h5>
                    <%= book.title %>
                </h5>
                <hr />
                <div class="row col-md-5">
                   <p>
                        <%= book.description %>
                   </p>
                </div>
                <div class="row">
                    <p>
                        Author: <%= book.author %>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Publisher: <%= book.publisher %>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Date Published: <%= new Date(book.datePub).toDateString(); %>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Type: <%= book.type %>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Price: <%= book.price %> €
                    </p>
                </div>
                <div class="row">
                    <p>
                        Stock: <%= (book.type !== "Ebook" ) ? book.stock : "---" %>
                    </p> 
                </div>
                <div class="row">
                    <p>
                        Language: <%= book.language %>
                    </p>
                </div>
                <div class="row">
                    <p>
                        Pages: <%= book.pages %>
                    </p>
                </div>
                <div class="row">
                    <p>
                        ISBN: <%= book.isbn %>
                    </p>
                </div>
                <hr class="col-6" />
                <% if (typeof user !== "undefined" && user.type === "customer") { %>

                    <button id="add-to-cart-btn" class="btn btn-outline-dark shadow" data-bs-toggle="modal" data-bs-target="#cart-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                          </svg>
                        Add to cart
                    </button>

                    <%# Add to cart modal #%>

                    <div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="cart-modal-label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cart-modal-label">
                                        Add <strong><%= book.title %></strong> to cart
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <% if(book.stock > 0) { %>
                                        <select id="book-quantity" class="form-select shadow" aria-label="Select quantity" title="Select quantity">
                                            <% for (let i = 1; i <= book.stock; i++) { %>
                                                <option value="<%= i %>"><%= i %></option>
                                            <% } %>
                                        </select>
                                        <% } else { %>
                                            <p>Book is not available</p>
                                        <% } %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Cancel</button>
                                    <button type="button" id="add-to-cart-confirm" class="btn btn-primary shadow" data-id="<%= book.id %>" data-user="<%= user.id %>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <% if (book.type === "Paper") { %>
<<<<<<< HEAD

                        <button id="reserve-book-btn" class="btn btn-outline-dark shadow" data-bs-toggle="modal" data-bs-target="#reserve-book-modal">
=======
                        <button id="reserve-book-btn" class="btn btn-outline-dark shadow" data-bs-toggle="modal" data-bs-target="#reserve-modal">
>>>>>>> dev
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                            </svg>
                            Reserve book
                        </button>
<<<<<<< HEAD

                        <%# FIXME: Reserve book modal #%>

                        <div class="modal fade" id="reserve-book-modal" tabindex="-1" aria-labelledby="#reserve-book-modal-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reserve-book-modal-label">
                                            Reserve: <%= book.title %>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                        <% if (book.type === "Paper" && book.stock > 0) { %>
                                            <%# TODO: address or in store pickup %>
                                        <% } else { %>
                                            <p>Sorry, this book is not available for reservation</p>
                                        <% } %>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary shadow" data-bs-dismiss="modal">Close</button>
                                        <% if (book.type === "Paper" && book.stock > 0) { %>
                                            <button id="reserve-book-confirm" class="btn btn-primary shadow" data-id="<%= book.id %>" data-user="<%= user.id %>">
                                                Reserve
=======

                        <%# Reserve book modal #%>

                        <div class="modal fade" id="reserve-modal" tabindex="-1" aria-labelledby="reserve-modal-label" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reserve-modal-label">
                                            Reserve <strong><%= book.title %></strong>
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <% if (book.stock > 0)  { %>
                                            <% if (book.isReserved) { %>
                                                <p class="text-danger">Book is reserved</p>
                                            <% } else { %>
                                                <p>Are you sure you want to reserve this book?</p>
                                            <% } %>
    
                                        <% } else { %>
                                            <p>Sorry, <strong><%= book.title%></strong> is not available for reservation</p>
                                        <% } %>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= book.isReserved ? 'Ok' : 'Cancel' %></button>
                                        <% if (!book.isReserved) { %>
                                            <button id="reserve-book-confirm" type="button" class="btn btn-primary" data-id="<%= book.id %>" data-user="<%= user.id%>">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                                Confirm
>>>>>>> dev
                                            </button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
<<<<<<< HEAD
                    <% } %>    
=======

                    <% } %>
  
>>>>>>> dev
                <% } %>
            </div>

        <% } %>
    <% } %>

</main>

</body>
</html>