<%- include('partials/header', { title: "Books" , active: "books" }); %>

<main>

    <% if (message.length > 0) { %>
        <div class="alert alert-primary" role="alert">
            <p>
                <%= message %>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if (errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% if (Array.isArray(errors)) { %>
                <% errors.forEach((error)=> { %>
                    <p>
                        <%= error.msg %>
                    </p>
                <% }); %>
            <% } else { %>
                <p>
                    <%= errors %>
                </p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <div class="row">
        <h1>Books catalog</h1>

        <div class="input-group col-2 float-end">
            <input class="form-control" type="search" placeholder="Search" id="search-book" name="search-book" aria-label="Search">
            <span class="input-group-text">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </span>
        </div>

        <button id="filter-collapse-btn" class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#filter-collapse" aria-expanded="false" aria-controls="filter-collapse">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
            </svg>
        </button>

        <%# Filter collapse %>

        <div id="filter-collapse" class="collapse">
            <div class="card card-body" id="filter-collapse-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="filter" value="" id="title-alphabetical-order" title="Title alphabetical order">
                    <label class="form-check-label" for="alphabetical-order">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                            <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                        </svg>
                          Title
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" value="" name="filter" id="author-alphabetical-order" title="Author alphabetical order">
                    <label class="form-check-label" for="alphabetical-order">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                            <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                        </svg>
                          Author
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" value="" name="filter" id="price-alphabetical-order" title="Author alphabetical order">
                    <label class="form-check-label" for="alphabetical-order">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-down-alt" viewBox="0 0 16 16">
                            <path d="M3.5 3.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 12.293V3.5zm4 .5a.5.5 0 0 1 0-1h1a.5.5 0 0 1 0 1h-1zm0 3a.5.5 0 0 1 0-1h3a.5.5 0 0 1 0 1h-3zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5zM7 12.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5z"/>
                        </svg>
                          Price
                    </label>
                </div>
            </div>
        </div>

    </div>


    <div class="container">

        <hr class="divider">

        <% if (typeof books !== 'undefined') { %>
            <% if (books.length === 0) { %>
                <div class="alert alert-primary" role="alert">
                    No books available.
                </div>
            <% } %>
        <% } %>

        <% if (typeof user !== "undefined" ) { %>
            <% if (user.type === "admin" ) { %>
                <button class="btn btn-primary" id="add-book" type="button" data-bs-toggle="modal"
                        data-bs-target="#add-book-modal">Add
                </button>

                <%# Modal %>

                <div class="modal fade show" id="add-book-modal"
                     aria-labelledby="add-book-modal-title" aria-modal="true" role="dialog">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="add-book-modal-title">Add a new book</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <img id="img-uploaded" src="" class="img-fluid square float-center" alt="" hidden>

                            <form method="POST" action="/books" role="form" enctype="multipart/form-data">

                                <div class="modal-body">

                                    <div class="form-group">
                                        <div class="mb-3">
                                            <label class="form-label"></label>
                                            <input class="form-control" type="file" id="book-image" name="book-image" required>
                                        </div>
                                    </div>

                                    <%# Title %>
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="title"
                                                   name="title" placeholder="Book Title" required>
                                            <label for="title">Title</label>
                                        </div>
                                        <span class="text-danger" id="title-validation"></span>
                                    </div>

                                    <br/>

                                    <%# Author %>
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="author"
                                                   name="author" placeholder="Book Author" required>
                                            <label for="author">Author</label>
                                        </div>
                                        <span class="text-danger" id="author-validation"></span>
                                    </div>

                                    <br/>

                                    <%# ISBN %>
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="isbn"
                                                   name="isbn" placeholder="Book ISBN" required>
                                            <label for="isbn">ISBN</label>
                                        </div>
                                        <span class="text-danger" id="isbn-validation"></span>
                                    </div>

                                    <br/>

                                    <%# Radio btn paper %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="Paper" name="type"
                                               id="paper">
                                        <label class="form-check-label" for="paper">
                                            Paper
                                        </label>
                                    </div>

                                    <%# Radio btn ebook %>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="EBook" name="type"
                                               id="ebook" checked>
                                        <label class="form-check-label" for="ebook">
                                            EBook
                                        </label>
                                    </div>

                                    <br/>

                                    <%# Range in stock (paper books) %>
                                    <div class="form-group">
                                        <label for="stock-range" class="form-label" id="stock-range-label">In stock:
                                            1</label>
                                        <input type="range" name="stock" class="form-range" min="1" max="300" step="1"
                                               value="1" id="stock-range" required>
                                        <small class="small text-muted">Leave 1 if EBook</small>
                                    </div>

                                    <br/>

                                    <%# Select language %>
                                    <%- include('partials/languages') -%>

                                    <br/>

                                    <%# Publisher %>
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="publisher"
                                                   name="publisher" placeholder="Book Publisher" required>
                                            <label for="publisher">Publisher</label>
                                        </div>
                                        <span class="text-danger" id="publisher-validation"></span>
                                    </div>

                                    <br/>

                                    <%# Range pages %>
                                    <div class="form-group">
                                        <label for="pages-range" class="form-label" id="pages-range-label">Pages:
                                            1</label>
                                        <input type="range" name="pages" class="form-range" min="1" max="10000" step="1"
                                               value="1" id="pages-range" required>
                                    </div>

                                    <br/>

                                    <%# Date published %>
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input type="date" class="form-control" id="date-published"
                                                   name="date-published" placeholder="Date Published" required>
                                            <label for="date-published">Date Published</label>
                                        </div>
                                        <span class="text-danger" id="date-published-validation"></span>
                                    </div>

                                    <br/>

                                    <%# Text area description %>
                                    <div class="form-group">
                                        <label for="description" class="form-label" id="description-label">Book
                                            Description</label>
                                        <textarea class="form-control" name="description" id="description" rows="5"
                                                  maxlength="250" required></textarea>
                                        <small class="small text-muted" id="description-info">Remaining: 250</small>
                                        <span class="text-danger" id="description-validation"></span>

                                    </div>

                                    <br/>

                                    <%# TODO: currency %>
                                    <div class="form-group">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="price"
                                                   name="price" placeholder="Book Price" required>
                                            <label for="price">Price</label>
                                        </div>
                                        <span class="text-danger" id="price-validation"></span>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close
                                    </button>
                                    <button type="submit" class="btn btn-primary" id="save">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-save" viewBox="0 0 16 16">
                                            <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                                        </svg>
                                        Save
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            <% } %>
        <% } %>

        <div class="row">

            <% if (typeof books !== "undefined" ) { %>

                <% if (books.length > 0) { %>

                    <% books.forEach((book) => { %>
                        <div class="card book">

                            <div class="card-img-top">
                                <img src="data:image/bmp;base64,<%= book.imgUrl.toString('base64')%>" class="square img-rounded" alt="<%= book.title %>">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title title">
                                    <%= book.title %>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%= book.type %>
                                </h6>
                                <p class="card-text">Price: <%= book.price %> €
                                </p>
                                <p class="card-text text-muted author">Author: <%=
                                    book.author %>
                                </p>
                                <p class="card-text text-muted">Publisher:
                                    <%= book.publisher %>
                                </p>
                                <p class="card-text text-muted">Language:
                                    <%= book.language %>
                                </p>

                                <a class="link-primary" href="book-details/<%= book.id %>">Details</a>

                                <hr/>

                                <% if (typeof user !== "undefined") { %> <%# if user is logged %>

                                    <%# Add to cart button %>
                                    <button class="btn btn-outline-dark add-to-cart"
                                            type="button" data-bs-toggle="modal"
                                            title="Add to cart"
                                            data-bs-target="#addToCartModal" data-id="<%= book.id %>" data-user-id="<%= user.id %>">

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16"
                                            fill="currentColor"
                                            class="bi bi-cart-plus"
                                            viewBox="0 0 16 16">
                                            <path
                                                    d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                                            <path
                                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                        
                                    </button>

                                    <%# TODO: Remove from favourites %>

                                    <%# Add to favourites button %>
                                    <button class="btn btn-outline-dark add-to-favourites"
                                            type="button" title="Add to favourites" data-id="<%= book.id %>" data-user-id="<%= user.id %>">

                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            width="16" height="16"
                                            fill="currentColor"
                                            class="bi bi-bookmark-star"
                                            viewBox="0 0 16 16">
                                            <path
                                                    d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
                                            <path
                                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                                        </svg>

                                    </button>


                                    <%# Reserve book %>

                                    <button class="btn btn-outline-dark reserve-book"
                                        type="button" title="Reserve book" data-id="<%= book.id %>" data-user-id="<%= user.id %>">

                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                            <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                        </svg>

                                    </button>

                                <% } %>

                                <% if (typeof user !== "undefined") { %>
                                    <% if (user.type === "admin") { %>
                                        <%# Delete book (admin only) %>
                                        <button class="btn btn-outline-danger delete-button"
                                            type="button" title="Delete book" data-id="<%= book.id %>">

                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                            </svg>

                                        </button>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    <% }); %>

                <% } %>
            <% } %>

        </div>
        <hr class="divider">
    </div>
</main>


<%- include('partials/footer'); -%>