<%- include('partials/header', {title: 'Cart'}); %>

<main>
    <% if (message.length > 0) { %>
        <div class="alert alert-primary" role="alert">
            <p>
                <%= message %>
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <% if (errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% if (Array.isArray(errors)) { %>
                <% errors.forEach((error) => { %>
                    <p> <%= error.msg %> </p>
                <% }); %>
            <% } else { %>
                <p> <%= errors %> </p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>

    <%if (typeof cart === "undefined") { %>

        <div class="alert alert-secondary text-center shadow" role alert>
            Your cart is empty.
        </div>

        <img id="empty-cart-img" src="/images/empty_cart.svg" alt="empty_cart">

    <% } else { %>
        <% if (cart.total > 0) { %>
            <h2 class="text-start" id="title" data-price="<%= cart.price %>">Cart: <%= cart.price.toFixed(2) %> €</h2>
            <br/>
            <a class="btn btn-primary shadow-lg" href="/checkout">
                Checkout
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
            </a>
            <hr />
            <table class="table shadow">
                <thead>
                    <tr class="table-primary">
                        <th>
                            Title
                        </th>
                        <th>
                            Author
                        </th> 
                        <th>
                            Type
                        </th>
                        <th>
                            ISBN
                        </th>
                        <th>
                            Language
                        </th>
                        <th>
                            Publisher
                        </th>
                        <th>
                            Date Published
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% cart.items.forEach(item => { %>
                        <tr id="book-<%= item.book.id %>" data-price="<%= item.book.price %>" data-quantity="<%= item.quantity %>">
                            <td>
                                <%= item.book.title %>
                            </td>
                            <td>
                                <%= item.book.author %>
                            </td>
                            <td>
                                <%= item.book.type %>
                            </td>
                            <td>
                                <%= item.book.isbn %>
                            </td>
                            <td>
                                <%= item.book.language %>
                            </td>
                            <td>
                                <%= item.book.publisher %>
                            </td>
                            <td>
                                <%= new Date(item.book.datePub).toDateString(); %>
                            </td>
                            <td>
                                <%= item.quantity %>
                            </td> 
                            <td>
                                <%= item.book.price %> €
                            </td>
                            <td>
                                <% if (item.book.type === "Paper") { %>
                                    <!-- edit btn to modal -->
                                    <button class="btn btn-outline-secondary shadow rounded edit" data-bs-toggle="modal" data-bs-target="#edit-modal" title="Edit quantity">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                        </svg>
                                    </button>

                                    <%# edit modal #%>
                                    <div class="modal fade" id="edit-modal" tabindex="-1" aria-labelledby="edit-modal-label" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="edit-modal-label">Edit <%= item.book.title %></h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="edit-form">
                                                        <div class="form-group">
                                                            <label for="quantity-range" class="form-label quantity-range-label">Quantity: <%= item.quantity %></label>
                                                            <input type="range" class="form-range quantity-range" id="quantity-range-<%= item.book.id %>" 
                                                            name="quantity" value="<%= item.quantity %>" min="1" max="<%= item.book.stock %>">
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-primary edit" data-id="<%= item.book.id %>" >Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>

                            </td>
                            <td>
                                <!-- remove from cart btn -->
                                <button class="btn btn-outline-danger shadow rounded remove" data-id="<%= item.book.id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    <% }); %>   
                </tbody>
            </table>
        <% } else { %>
            <div class="alert-secondary text-center shadow" role alert>
                Your cart is empty.
            </div>
    
            <img id="empty-cart-img" src="/images/empty_cart.svg" alt="empty_cart">
        <% } %>
    <% } %>
</main>

</body>
</html>