<%- include('partials/header', { title: "Checkout" }); %>

<main>
    <% if (typeof cart !== "undefined" && typeof user !== "undefined") { %>
        <div class="row my-3">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Your cart</span>
                    <span class="badge bg-primary rounded-pill"><%= cart.total %></span>
                </h4>
                <ul class="list-group mb-3">
                    <% cart.items.forEach(item => { %>
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">
                                    <%= item.book.title %>
                                </h6>
                                <small class="text-muted">
                                    <%= item.book.type %>
                                </small>
                            </div>
                            <span class="text-muted"><%= item.book.price %> €</span>
                        </li>
                    <% }); %>
                    <li class="list-group-item d-flex justify-content-between">
                    <span>Total (EUR)</span>
                    <strong><%= cart.price %> €</strong>
                    </li>
                </ul>
            </div>
        </div>

        <hr />

        <h4>Payment method</h4>

        <form method="post" action="/orders/customer-orders">
            <input type="hidden" value="<%= user.id %>" name="userId" id="userId">
            <div class="my-3">
                <div class="form-check">
                    <input id="credit-card" name="payment-method" type="radio" class="form-check-input" checked required>
                    <label class="form-check-label" for="credit-card">
                        Credit Card
                    </label>
                </div>
        
                <div class="debit-card" name="payment-method">
                    <input id="debit-card" name="payment-method" type="radio" class="form-check-input" required>
                    <label class="form-check-label" for="debit-card">
                        Debit Cart
                    </label>
                </div>
            </div>
    
            <div class="row gy-3">
                <div class="col-md-4">
                    <label for="full-name" class="form-label">Full Name</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                            </svg>
                        </span>
                        <input class="form-control" value="<%= user.firstname %> <%= user.lastname %>" type="text" id="full-name" required>
                    </div>
                    <small class="text-muted">Full name as displayed on card</small>
                    <span class="text-danger" id="full-name-validation"></span>
                </div>
    
                <div class="form-group col-md-4">
                    <div class="form-group"></div>
                    <label for="card" class="form-label">Card Number</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                            </svg>
                        </span>
                        <input class="form-control" id="card" type="number" required>
                    </div>
                    <span class="text-danger" id="card-validation"></span>
                </div>
        
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="expiration" class="form-label">Expiration Date</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-month" viewBox="0 0 16 16">
                                    <path d="m2.56 12.332.54-1.602h1.984l.54 1.602h.718L4.444 7h-.696L1.85 12.332h.71zm1.544-4.527L4.9 10.18H3.284l.8-2.375h.02zm5.746.422h-.676v2.543c0 .652-.414 1.023-1.004 1.023-.539 0-.98-.246-.98-1.012V8.227h-.676v2.746c0 .941.606 1.425 1.453 1.425.656 0 1.043-.28 1.188-.605h.027v.539h.668V8.227zm2.258 5.046c-.563 0-.91-.304-.985-.636h-.687c.094.683.625 1.199 1.668 1.199.93 0 1.746-.527 1.746-1.578V8.227h-.649v.578h-.019c-.191-.348-.637-.64-1.195-.64-.965 0-1.64.679-1.64 1.886v.34c0 1.23.683 1.902 1.64 1.902.558 0 1.008-.293 1.172-.648h.02v.605c0 .645-.423 1.023-1.071 1.023zm.008-4.53c.648 0 1.062.527 1.062 1.359v.253c0 .848-.39 1.364-1.062 1.364-.692 0-1.098-.512-1.098-1.364v-.253c0-.868.406-1.36 1.098-1.36z"/>
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
                                </svg>
                            </span>
                            <input id="expiration" class="form-control" type="month" required>
                        </div>
                        <span class="text-danger" id="expiration-validation"></span>
                    </div>
                </div>
        
                <div class="col-md-3">
                    <label for="cvv" class="form-label">CVV</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back" viewBox="0 0 16 16">
                                <path d="M11 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1z"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2zm13 2v5H1V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm-1 9H2a1 1 0 0 1-1-1v-1h14v1a1 1 0 0 1-1 1z"/>
                            </svg>
                        </span>
                        <input id="cvv" type="number" class="form-control" required>
                    </div>
                    <span id="cvv-validation" class="text-danger"></span>
                </div>
    
            </div>
    
            <hr class="my-4">
    
            <button type="submit" id="pay-btn" class="btn btn btn-primary">
                Pay
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
                </svg>
            </button>
            <button type="reset" class="btn btn-outline-warning">
                <img src="/images/icons/x-square.svg" alt="x-square.svg">
            </button>
        </form>
  
    <% } %>
</main>

</body>
</html>