<%- include('partials/header', { title: "Profile", active: "profile" }); -%>

<main>
    <% if (errors.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <% if (Array.isArray(errors)) { %>
                <% errors.forEach((error) => { %>
                    <p> <%= error.msg %> </p>
                <% }); %>
            <% } else { %>
                <p> <%= errors %> </p>
            <% } %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <br/>
    <div class="container">

        <div class="d-flex align-items-start">

            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <button class="nav-link active" href="#email" aria-selected="true" id="v-pills-email-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-email" type="button" role="tab" aria-controls="v-pills-email">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-envelope" viewBox="0 0 16 16">
                        <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                    Email
                </button>

                <button class="nav-link" aria-selected="false" id="v-pills-password-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-password" type="button" role="tab" aria-controls="v-pills-password">

                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-key" viewBox="0 0 16 16">
                        <path
                                d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    Password
                </button>

            </div>
            <div class="tab-content" id="v-pills-tabContent" data-bs-spy="scroll">

                <div class="tab-pane fade show active" id="v-pills-email" role="tabpanel"
                     aria-labelledby="v-pills-email-tab">

                    <form method="POST" action="/profile/update-email">

                        <% if (typeof user !== "undefined" ) { %>
                            <% if (user.email) { %>
                                <div class="form-group">
                                    <div class="form-floating col-5 shadow-lg rounded">
                                        <input type="email" id="email" value="<%= user.email %>"
                                               class="form-control" disabled>
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                            <% } %>
                            <br/>
                            <div class="form-group">
                                <div class="form-floating col-5 shadow-lg rounded">
                                    <input type="email" id="new-email" name="new-email" class="form-control"
                                           placeholder="New Email" required>
                                    <label for="new-email">New Email</label>
                                </div>
                                <span class="text-danger" id="new-email-validation"></span>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-primary shadow-lg rounded" id="save-new-email">Save</button>
                        <% } %>
                    </form>

                    <img src="/images/profile.svg" alt="profile" height="50%" width="50%">

                </div>
                <div class="tab-pane fade" id="v-pills-password" role="tabpanel"
                     aria-labelledby="v-pills-password-tab">

                    <form method="POST" action="/profile/update-password">
                        <div class="form-group">
                            <div class="form-floating col-5 shadow-lg rounded">
                                <input type="password" id="current-password" name="current-password"
                                       class="form-control" placeholder="Current Password" required>
                                <label for="current-password">Current Password</label>
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="form-floating col-5 shadow-lg rounded">
                                <input type="password" id="new-password" name="new-password" class="form-control"
                                       placeholder="New Password" required>
                                <label for="new-password">New Password</label>
                            </div>
                            <span class="text-danger" id="new-password-validation"></span>
                        </div>
                        <div class="form-group">
                            <div class="form-floating col-5 shadow-lg rounded">
                                <input type="password" id="confirm-new-password" name="confirm-new-password"
                                       class="form-control" placeholder="Confirm Password" required>
                                <label for="confirm-new-password">Confirm Password</label>
                            </div>
                            <span class="text-danger" id="confirm-new-password-validation"></span>
                        </div>
                        <br/>
                        <button type="submit" class="btn btn-primary shadow-lg rounded" id="save-new-password">Save</button>

                    </form>
                    <br/>
                    <img src="/images/password.svg" alt="profile" height="30%" width="30%">

                </div>
<<<<<<< HEAD
                
                <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-orders-tab">

                    <% if (typeof orders !== "undefined" ) { %>
                        <% if (orders.length > 0) { %>
                            <table class="table">
                                <thead>
                                <tr class="table-primary">
                                    <th>Date</th>
                                    <th>Book</th>
                                    <th>Order Type</th>
                                    <th>Status</th>
                                    <th>Price</th>
                                    <th>Address</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% orders.forEach(order => { %>
                                    <tr>
                                        <td>
                                            <%= order.date %>
                                        </td>
                                        <td>
                                            <%= order.book.title %>
                                        </td>
                                        <td>
                                            <%= order.type %>
                                        </td>
                                        <td>
                                            <%= order.status %>
                                        </td>
                                        <td>
                                            <%= order.price %>
                                        </td>
                                        <td>
                                            <%= order.address %>
                                        </td>
                                    </tr>
                                <% }); %>
                                </tbody>
                            </table>
                        <% } else { %>
                            <div class="alert alert-secondary shadow-lg" role="alert">
                                You have no orders yet.
                            </div>
                        <% } %>
                    <% } %>
                </div>
=======
>>>>>>> dev
            </div>
        </div>
    </div>

    </div>
</main>

<hr class="divider"/>

<%- include('partials/footer-alt'); -%>